<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthGuard"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activity.UserCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HospitalNearMeActivity"
            android:exported="true" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKSWZeOTnHxeNuNE5n7NwvV0tuRy0Wb4M" />

        <activity
            android:name=".activity.FrezzAmulanceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.NormalAmbulanceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AmbulanceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HealthArticleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HealthArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BuyMedicineBookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartBuyMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BuyMedicineDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BuyMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LabTestBookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartLabActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LabTestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LabTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookAppoinmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FindDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VerifyOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SentOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>